:root {
  /*fonts*/
  --main-fonts: 'Roboto', sans-serif;
  --logo-fonts: 'Raleway', sans-serif;

  /*bg colors*/
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;

  /*text colors*/
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
}

   body {
  font-family: var(--main-fonts), sans-serif;
  color: var(--main-text-color);
}
.list {
  list-style: none;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*header*/
.logo-head {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-text-color);
}
.logo-head-accent {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--main-text-color);
}
.nav-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
    text-decoration: none;
  color: var(--accent-text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}
.nav-link:hover {
  color: var(--accent-text-color);
}
.nav-link:focus {
  color: var(--accent-text-color);
}
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.contacts-nav:hover {
  color: var(--accent-text-color);
}
.contacts-nav:focus {
  color: var(--accent-text-color);
}

/*index html*/

/*order section*/
.order-section {
  background: var(--dark-bg-color);
}
.order-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: #ffffff;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-text-color);
}
.order-button:hover {
  background-color: #188CE8;
}
.order-button:focus {
  background-color: #188CE8;
}
/*benefits section*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefit-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/*hero section*/
.hero-bg {
  background-color: var(--light-bg-color);
}
.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}


/*portfolio*/

/*section*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-butons-current {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-text-color);
}
.nav-butons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-text-color);
  background: var(--light-bg-color);
}
.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-card {
  cursor: pointer;
  text-decoration: none;
}
.nav-butons:hover {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.nav-butons:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}

/*footer*/
.footer-bg {
  background: var(--dark-bg-color);
}
.logo-foot {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-text-color);
}
.logo-foot-accent {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: #ffffff;
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contacts-foot {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
